<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace = "com.jobbook.site.reply.dao.ReplyDAO">
 
 	
 	
 <insert id = "addReply" parameterType="com.jobbook.site.model.Reply">
 		INSERT INTO `reply`
 		(
 		 `userId`
 		 ,`userName`
 		 ,`postId`
 		 ,`replyContent`
 		 ,`createdAt`
 		 ,`updatedAt`
 		) VALUES(
 		#{userId}
 		,#{userName}
 		,#{postId}
 		,#{replyContent}
 		,now()
 		,now()
 		)
 	
 	</insert>
 	
 	<select id = "selectReplyList" parameterType="int" resultType="com.jobbook.site.model.Reply">
 		SELECT
 		`id`
 		 ,`userId`
 		 ,`userName`
 		 ,`postId`
 		 ,`replyContent`
 		 ,`createdAt`
 		 ,`updatedAt`
 		FROM
 			`reply`
 		WHERE `postId` = #{postId}
 	</select>
 	
 	
 	<select id = "selectReply" resultType = "com.jobbook.site.model.Reply">
 	SELECT
 		`id`
 		,`userId`
 		 ,`postId`
 		 ,`replyContent`
 		 ,`createdAt`
 		 ,`updatedAt`
 	FROM
 		`reply`
 	 WHERE
 		`id` = #{replyId} 
 	</select>
 	
 	<delete id = "deleteReply" parameterType = "int">
 		DELETE
 		FROM
 			`reply`
 		WHERE
 			`userId` = #{userId}
 			AND
 			`id` = #{replyId}
 		
 	</delete>
 </mapper>